%div= f.label :film_title
= f.text_field :film_title

%div= f.label :film_year
= f.text_field :film_year

%div= f.label :director
= f.text_field :director

%div= f.label :imdb
= f.text_field :imdb

%div= f.label :description
= f.text_area :description

%div= f.label :showtime
= f.datetime_select :showtime

%div= f.label :poster
= f.file_field :poster
